:root {
  --app-font-size: 15px;
  --app-font-size-2: 17px;
  --app-font-size-header: 20px;
  --app-font-size-subheading: 16px;
  --app-font-weight-content: 400;
  --app-font-weight-header: 600;

  --app-title-font-size: 20px;
  --app-line-height: 24px;
  --app-line-height-2: 26px;

  --app-cursor-pointer: pointer;

  /* theme colors */
  --app-theme-text-color: var(--tg-theme-text-color);
  --app-theme-hint-color: var(--tg-theme-hint-color);
  --app-theme-secondary-bg-color: var(--tg-theme-secondary-bg-color);
}

.p-panel .p-panel-header {
  border: 1px solid var(--tg-theme-hint-color)/*#424b57*/;
  padding: 1.25rem;
  background: var(--tg-theme-section-bg-color);
  color: var(--tg-theme-accent-text-color);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  /** */
  font-weight: var(--app-font-weight-header);
  font-size: var(--app-font-size);
}

.p-panel .p-panel-content {
  padding: 4px 22px/*1.25rem*/;
  border: 1px solid var(--tg-theme-hint-color)/*#424b57*/;
  background: var(--tg-theme-section-bg-color)/*#1f2937*/;
  color: var(--tg-theme-accent-text-color);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: 0 none;
  /** */
  font-weight: var(--app-font-weight-content);
  font-size: var(--app-font-size);
}

.p-panel .p-panel-footer {
  padding: 1rem 1.25rem;
  border: 1px solid var(--tg-theme-hint-color)/*#424b57*/;
  background: var(--tg-theme-secondary-bg-color)/*#1f2937*/;
  color: var(--tg-theme-accent-text-color);
  border-top: 0 none;
  /** */
  font-weight: var(--app-font-weight-content);
  font-size: var(--app-font-size);
}

.p-button {
    /*color: var(--tg-theme-section-bg-color);
    background: var(--tg-theme-accent-text-color);
    border: 1px solid var(--tg-theme-accent-text-color);*/
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}

#messages > div {
  display: flex;
  flex-grow: 0!important;
  width: 100%;
}

#messages > div > .p-message{
  flex-grow: 0!important;
  width: 100%;
}

#messages > div > .p-message.p-message-info {
    background: rgba(59, 130, 246, 0.2);
    border: solid var(--tg-theme-link-color);
    border-width: 0 0 0 6px;
    color: #93c5fd;
}